{% extends 'layout.html.twig' %}

{% block page %}

    <h3>Réinitialisation de votre mot de passe</h3>

    {{ form_start(form,{attr:{novalidate: 'novalidate' }}) }}

    <i class="fas fa-at"></i>{{ form_widget(form) }}

    <button type="submit", class="btn btn-success">Soumettre</button>

    {{ form_end(form) }}




{% endblock %}

{% block page_title %}

{% endblock %}

