{% extends 'shini_gami/layout.html.twig' %}

{% block page_title %}
    contact
{% endblock page_title %}

{% block about1 %}
    Des questions ?
{% endblock about1 %}

{% block about2 %}
    Nous sommes là pour vous
{% endblock about2 %}

{% block imgBk %}
    url('{{ asset('theme/img/contact-bg.jpg') }}')
{% endblock imgBk %}


{% block content %}

                <p>Want to get in touch? Fill out the form below to send me a message and I will get back to you as soon as possible!</p>
                {{ form(form,{attr:{novalidate: 'novalidate' }}) }}




{% endblock content %}