{% extends 'base.html.twig' %}

{% block title %}New ShiniOffer{% endblock %}

{% block body %}
    <h1>Create new ShiniOffer</h1>

    {{ include('offer/_form.html.twig') }}

    <a href="{{ path('shini.offer.index') }}">back to list</a>
{% endblock %}
