#buttonCenter{
    display: flex;
    justify-content: space-around;
}

.buttonCenter2{
    display: flex;
    justify-content: center;
    margin-left: 50%;

}

.nav-link,li.nav-item{
    display: inline-block !important;
}

.mrgbody{
    margin-top: 5vh;
}