{% extends "layout.html.twig" %}

{% block page_title %}
    Nos centres
{% endblock %}

{% block page %}
    <div class="row content-list-head justify-content-between my-2">
    <div class="col-auto">
        <h3>Nos centres</h3>
    </div>
    <form class="col-md-auto my-2">
        <div class="input-group input-group-round">
            <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-search"></i>
                    </span>
            </div>
            <input type="search" class="form-control filter-list-input" placeholder="Chercher un joueur" aria-label="Filter Tasks" aria-describedby="filter-tasks">
        </div>
    </form>
</div>
    <div class="row content-list-body my-2">
        {% set prefix = getEntityPrefixRoute(items.0) %}
        {% for item in items %}
            <div class="card my-2 px-0 bg-white rounded border-0 col-12">
                <div class="card-header d-flex pt-1 pb-0 justify-content-between">
                    <h3 class="d-inline">{{ item.code }}</h3>
                    {{ include('components/_item_actions.twig') }}
                </div>
                <div class="card-body d-flex justify-content-between pl-0 pt-2 border rounded-bottom">
                    <div class="col-12 col-sm-4">
                        <a href="#" data-toggle="tooltip" title="Kenny">
                            <img alt="Centre Shinigami" class="img-thumbnail" src="{{ asset (item.image) }}">
                        </a>
                    </div>
                    <div class="col">
                        <p class="card-text">{{ item.code }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}