{% extends 'shini_staff/layout.html.twig' %}

{% block body %}

    <h1>Search user by code</h1>

    {#{% for message in app.flashes("danger") %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}#}

    <div class="container">
        <form action="{{ path('found.player.by.card.code') }}" method="post" >
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button class="btn btn-success" id="basic-addon1">rechercher</button>
                </div>
                <input type="text" name="foundPlayerByCardCode" class="form-control" placeholder="code de la carte à six chiffres" aria-label="UserPseudo"
                       aria-describedby="basic-addon1">
            </div>
        </form>
    </div>

{% endblock body %}

{% block title %}
    Search User by Code
{% endblock title %}

