{% extends "shini_player/show.html.twig" %}

{% block buttonShow %}
<div id="buttonCenter">
    <a href="{{ path('shini.player.list') }}">
        <button class="btn btn-outline-info"><i class="fas fa-arrow-circle-left"></i> back to list</button>
    </a>
{% endblock buttonShow %}