<h3>You did it! You registered!</h3>

Bonjour {{ player.name }}! Bienvenue parmis nous.

{# example, assuming you have a route named "login" #}
Pour pouvoir vous connecter : <a href="{{ url('secure.email.confirmation',{userId:player.id, token: player.account.confirmationToken }) }}">cliquez sur ce lien pour valider votre compte</a>.

Merci et a bientôt !

{# Makes an absolute URL to the /images/logo.png file #}
{#
<img src="{{ absolute_url(asset('images/logo.png')) }}">#}
