<!DOCTYPE html>
<html>
    <head>

        <title>
            {% block title %}
                {% block page_title '' %} |
                {% block web_page 'ShiniGamiLaser' %}
            {% endblock title %}
        </title>
        <meta charset="UTF-8">

        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        {% for key,type in app.flashes %}
            {% for message in type %}
            <div class="alert alert-{{ key }}">{{ message }}</div>
            {% endfor %}
        {% endfor %}
       {% block body '' %}
        {% block footer '' %}
        {% block javascripts '' %}
    </body>
</html>
