<!doctype html>

<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>
            {% block page_title '' %} | Shinigami Laser
        </title>
        {% block stylesheets '' %}
    </head>

    <body {#class="bg-dark"#}>
        {# top #}
        <section class="container-fluid py-3 col-10 col-xl-8">
            {% block top '' %}
        </section>

        {# center #}
        <section id="page" class="container-fluid justify-content-center p-0 m-auto col-10 col-xl-8 rounded bg-light">
            {#<div class="image image-overlay image-cover skrollable skrollable-between" style="background-image: url({{ asset ('assets/css/images/portfolio-bg-2.jpg') }}); transform: translateY(0px);" data-top-top="transform: translateY(0px);" data-top-bottom="transform: translateY(-250px);"></div>#}
            {% block carousel '' %}
            <div class="container px-5 pt-3">
                {% block messages '' %}
                {% block page '' %}
             </div>
        </section>

        {# footer #}
        <section class="container-fluid justify-content-center py-5">
            {% block footer '' %}
        </section>

        {% block javascripts '' %}
        {% block final_javascripts '' %}
    </body>
</html>
