{% extends "entity/list.html.twig" %}


{% block item_search_placeholder %}Rechercher une offre{% endblock %}

{% block item_title %}{{ item.name |title }}{% endblock %}

{% block item_body %}
    <div class="col-12 col-sm-4">
        <a href="#" data-toggle="tooltip" title="{{ item.name }}">
            <img alt="Offre Shinigami" class="img-thumbnail" src="{{ asset (item.image) }}">
        </a>
    </div>
    <div class="col">
        <p class="card-text">{{ item.description }}</p>
    </div>
{% endblock item_body %}

