{# Actions on a sigle entity (user, offer, center, whatever #}

{% if is_granted('ROLE_STAFF') %}
    <div class="dropdown card-options">
        <button class="btn-options" type="button" {#id="task-dropdown-button-1"#} data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-ellipsis-v"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
            {% if prefix == 'shini.offer' or prefix == 'shini.center' %}
                <a class="dropdown-item" href="{{ path( prefix ~'.edit', { 'id' : item.id }) }}">Modifier</a>
            {% endif %}
            <a class="dropdown-item" href="{{ path( prefix ~'.delete', { 'id' : item.id }) }}">Supprimer</a>
        </div>
    </div>
{% endif %}